{{ 'price-range.css' | asset_url | stylesheet_tag }}

{% liquid
  assign max_price_ = filter.range_max | money_without_currency | strip_html | escape

  if filter.min_value.value 
      if uses_comma_decimals 
        assign minValue = filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
      else 
        assign minValue = filter.min_value.value | money_without_currency | replace: ',', ''
      endif
  else
      assign minValue = 0
  endif
%}


<div class="range-slider">
  <input type="range" min="0" max="100" step="1" value="{{ minValue }}" class="range-slider__input" />
  <input type="range" min="0" max="{{ max_price_ }}" step="1" value="{{ max_price_ }}" class="range-slider__input" />
</div>
