<style>
 .collection-banner-container{
   margin-top: 15px;
 }
 .collection-banner{
   background:url({{ collection.featured_image | img_url: 'master' }});
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #f0f0f0;
   width: 100%;
 } 
 .collection-banner-inner{
    min-height: 383px;
    top: 0;
    display: table;
    height: 100%;
    width: 100%;
 }
 .c-b-cell{
    padding-top: 40px;
    padding-bottom: 40px;
    
    display: table-cell;
/*     vertical-align: middle; */
 }
 .align-cb-top-left{
    vertical-align: revert;
 }
.align-cb-middle-left{
    vertical-align: middle;
 }
 .align-cb-bottom-left{
    vertical-align: bottom;
 }
 .cb-on-desktop{
    display: block;
 }
 .cb-center{
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 56px;
    padding-right: 56px;
 }
 .cb-title-big{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 70px;
    color: #000;
    letter-spacing: -2.85px;
    line-height: 70px;
 }
.cb-on-mobile{
   display: none;
 }
.cb-on-desktop{
     display: block;
}
 @media screen and (max-width: 958px){
   .collection-banner-inner{
      min-height: 200px;
   }
   .cb-on-mobile{
     display: block;
     padding-bottom: 24px;
     padding-top: 100px;
   }
  .cb-on-desktop{
     display: none;
  }
 .cb-center{
      padding-left: 16px;
      padding-right: 16px;
   }
   .cb-title-big{
     margin-top: 5px;
    font-size: 44px;
    color: #000;
    letter-spacing: -1px;
    line-height: 46px;
    font-weight: 700;
   }
 }
</style>
<section class="page-width collection-banner-container">
  <div class="cb-on-mobile">
      <div class="cb-center">
        <h1 class="cb-title-big">{{ collection.title }}</h1>
      </div>
  </div>
<div class=" collection-banner">

  <div class=" collection-banner-inner">
    <div class="c-b-cell {% if section.settings.collection_title_align == 'top-left' %} align-cb-top-left {% elsif section.settings.collection_title_align == 'middle-left' %} align-cb-middle-left
      {% elsif section.settings.collection_title_align == 'bottom-left' %} align-cb-bottom-left
      {% elsif section.settings.collection_title_align == 'middle-center' %} align-cb-middle-center
      {% elsif section.settings.collection_title_align == 'middle-right' %} align-cb-middle-right
      {% endif %}">
      <div class="cb-on-desktop">
          <div class="cb-center">
            <h1 class="cb-title-big">{{ collection.title }}</h1>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
{% schema %}
{
  "name": "Collection Page Banner",
  "settings": [
      {
      "type": "select",
      "id": "collection_title_align",
      "label": "Collection title alignment",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "middle-center",
          "label": "Center Middle"
        },
        {
          "value": "middle-right",
          "label": "Right Middle"
        }
      ],
      "default": "middle-left"
    }
  ],

  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
