<style>
 .collection-banner{
   background:url({{ section.settings.bg_image | img_url: 'master' }});
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #f0f0f0;
 } 
 .collection-banner-inner{
    min-height: 383px;
    top: 0;
    display: table;
    height: 100%;
    width: 100%;
 }
</style>
<section class="collection-banner">
  <div class="collection-banner-inner">
    
  </div>
</section>
{% schema %}
{
  "name": "Collection Page Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],

  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
