<style>
  .instagram-section--{{ section.id }}{
    background-color: #F5F5F5;
    margin: 60px 0 0 0;
  }
  .insta-wrapper{
    padding: 50px 63px 82px 59px;
  }
  .insta-header{
    text-align: center;
    padding-bottom: 28px;
  }
  .insta-header h2{
    display: flex;
    margin: 0;
    justify-content: center;
    text-align: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
  }
  .insta-icon{
    margin-left: 10px;
  }
  .insta-header svg{
    width: 32px;
    height: 32px;
  }
  .insta-header p{
    margin: 0;
    text-align: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
  .insta-image{
    cursor: pointer;
  }
  .insta-image-container {
    display: flex;
    gap: 15px;
  }
  .instage-image-box {
    flex-basis: 25%;
  }
  .instage-image-box img{
    width: 100%
  }

  .instage-image-box:nth-child(5){
    display: none;
  }

  @media(min-width: 1921px){
    .instage-image-box:nth-child(5){
      display: block;
    }
  }

  @media screen and (max-width: 480px){
    .insta-header h2 {
      font-size: 30px;
      line-height: 38px;
    }
  }
</style>
<section class="instagram-section--{{ section.id }}">
  <div class="insta-wrapper">
    <div class="insta-header">
      <h2><span>AS SEEN ON IG</span><span class="insta-icon">{% render 'instagram' %}</span></h2>
      <p>@glanorbags</p>
    </div>
    <div class="insta-image">
      <a href="{{ section.settings.collection_link }}">
      <div class="insta-image-container">
        {% for block in section.blocks %}
            {% if block.type == 'photos' %}
                <div class="instage-image-box">
                  {% if block.settings.image %}
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt="insta">
                  {% endif %}
                </div>
            {% endif %}
        {% endfor %}
      </div>
      </a>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
      "type": "url",
      "id": "collection_link",
      "label": "Collection link"
    }
  ],
  "blocks": [
     {
       "name": "Instagram Photos",
       "type": "photos",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Instagram"
    }
  ]
}
{% endschema %}
