<style>
  .our-promise--{{ section.id }} *{
    box-sizing: border-box;
  }
  .our-promise--{{ section.id }}{
    background-color: #F9F9F9;
  }
  .our-promise-wrapper {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    gap: 130px;
  }
  .promise-box {
    display: flex;
    align-items: center;
/*     margin: 0 220px 0 0; */
    gap: 15px;
  }
  .our-promise-wrapper .promise-box:last-child{
    margin: 0;
  }
  .promise-text p{
    text-align: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
  }
/*   @media screen and (min-width: 2200px){
    .our-promise-wrapper {
        justify-content: flex-start;
        gap: 445px;
    }
  }
  @media screen and (max-width: 1866px){
    .our-promise-wrapper {
      padding: 15px 118px 15px 178px;
      gap: 90px;
      justify-content: flex-start;

    }
  } */
</style>
<section class="our-promise--{{ section.id }} ">
  <div class="swiper o-p-swiper">
  <div class="our-promise-wrapper swiper-wrapper">
    
    <div class="promise-box swiper-slide">
      <div class="promise-icon">
        {% render 'promise-icon', name: 'car' %}
      </div>
      <div class="promise-text">
        <p>Fast Shipping</p>
      </div>
    </div>

    <div class="promise-box swiper-slide">
      <div class="promise-icon">
        {% render 'promise-icon', name: 'scale' %}
      </div>
      <div class="promise-text">
        <p>Secure Payment</p>
      </div>
    </div>

    <div class="promise-box swiper-slide">
      <div class="promise-icon">
        {% render 'promise-icon', name: 'email' %}
      </div>
      <div class="promise-text">
        <p>Verified Seller</p>
      </div>
    </div>
    
  </div>
  </div>
</section>
{% schema %}
{
  "name": "Our Promise",
  "settings": [

  ],

  "presets": [
    {
      "name": "Our Promise"
    }
  ]
}
{% endschema %}
<script>
   // var swiper = new Swiper(".o-p-swiper", {
   //      slidesPerView: 1,
   //      spaceBetween: 30,
   //      pagination: {
   //        el: ".swiper-pagination",
   //        clickable: true,
   //      }
   //    });
</script>
