<style>
  .pd-section{}

  .pd-wrapper{
    width: 60%;
    margin: auto;
  }

  .tab-list-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4%;
  }

  .tab-list{
    cursor: pointer;
    width: 100%;
  }

  .tab-details-wrapper{}

  .tab-details{
    display: none;
  }

  .active-tab-list{
    border-bottom: 1px solid black;
    font-weight: 700;
    color: #000000;
  }

  .active-tab-details{
    display: block;
  }

  .td-ul{
    list-style-type: none;
    padding: 0;
  }

  .td-li:not(:first-child) {
    margin-top: 15px;
  }

  .td-li{
    border-bottom: 1px solid #C8C8C8;
  }

  .td-image{
    height: 22px;
  }

  .td-title{
    display: block;
    font-size: 14px;
    color: #595959;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 0px;
  }

  .td-text{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    letter-spacing: -.5px;
    line-height: 19px;
  }
</style>

<div class="pd-section" id="descTag">
  <div class="page-width">
    <div class="pd-wrapper">
      <div class="tab-list-wrapper">
        <div class="tab-list active-tab-list" data-index="1">
          <p>Details</p>
        </div>
        <div class="tab-list" data-index="2">
          <p>Reviews</p>
        </div>
        <div class="tab-list" data-index="3">
          <p>Specs</p>
        </div>
      </div>
      <div class="tab-details-wrapper">
        <div class="tab-details active-tab-details" data-index="1">
          {{ product.description }}
        </div>
        <div class="tab-details" data-index="2">
           {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
              {% endcase %}
            {% endfor %}
        </div>
        <div class="tab-details" data-index="3">
          <ul class="td-ul">
            {% for block in section.blocks %}
              {% if block.type == 'metafield' %}
                {% if block.settings.definition != blank %}
                  <li class="td-li">
                    <img class="td-image" src="//cdn.shopify.com/s/files/1/0040/6015/1843/t/19/assets/material@2x.png?v=168077453053063857601644332533">
                    <p class="td-title">{{ block.settings.title }}</p>
                    <p class="td-text">{{ block.settings.definition }}</p>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    let tabLists = document.querySelectorAll(".tab-list")
    let tabDetails = document.querySelectorAll(".tab-details")

    tabLists.forEach(list => list.addEventListener("click", e => {
      let index = e.currentTarget.dataset.index
      detailsHandle(index)
      listHandle(index)
    }))

    function detailsHandle(index){
      tabDetails.forEach(detail => {
        let i = detail.dataset.index
        if(i === index) detail.classList.add("active-tab-details")
        else detail.classList.remove("active-tab-details")
      })
    }

    function listHandle(index){
      tabLists.forEach(list => {
        let i = list.dataset.index
        if(i === index) list.classList.add("active-tab-list")
        else list.classList.remove("active-tab-list")
      })
    }
  </script>


{% schema %}
  {
    "name": "Product Details Tab",
    "templates": ["product"],
    "settings": [],
    "blocks": [
     {
        "type": "@app"
      },
      {
        "type": "metafield",
        "name": "metafield",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Zipper"
          },
          {
            "type": "liquid",
            "id": "definition",
            "label": "Product Metafield Definition",
            "default": "{{ product.metafields.custom.zipper }}"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Details Tab"
      }
    ]
  }
{% endschema %}




