<style>
  .pd-section{}

  .pd-wrapper{
    width: 60%;
    margin: auto;
  }

  .tab-list-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .tab-list{}

  .tab-details-wrapper{}

  .tab-details{
    display: none;
  }

  .active-tag-details{
    displa: block;
  }
</style>

<div class="pd-section">
  <div class="page-width">
    <div class="pd-wrapper">
      <div class="tab-list-wrapper">
        <div class="tab-list">
          <p>Details</p>
        </div>
        <div class="tab-list">
          <p>Reviews</p>
        </div>
        <div class="tab-list">
          <p>Specs</p>
        </div>
      </div>
      <div class="tab-details-wrapper">
        <div class="tab-details active-tag-details">
          Lorem ipsum dollar 1
        </div>
        <div class="tab-details">
          Lorem ipsum dollar 2
        </div>
        <div class="tab-details">
          Lorem ipsum dollar 3
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Details Tab",
    "templates": ["product"],
    "settings": [],
    "presets": [
      {
        "name": "Product Details Tab"
      }
    ]
  }
{% endschema %}

