<style>
  .pd-section{}

  .pd-wrapper{}

  .tab-list-wrapper{}

  .tab-list{}

  .tab-details-wrapper{}

  .tab-details{}
</style>

<div class="pd-section">
  <div class="page-width">
    <div class="pd-wrapper">
      <div class="tab-list-wrapper">
        <div class="tab-list">
          <p>Details</p>
        </div>
        <div class="tab-list">
          <p>Reviews</p>
        </div>
        <div class="tab-list">
          <p>Specs</p>
        </div>
      </div>
      <div class="tab-details-wrapper">
        <div class="tab-details">
          Lorem ipsum dollar 1
        </div>
        <div class="tab-details">
          Lorem ipsum dollar 2
        </div>
        <div class="tab-details">
          Lorem ipsum dollar 3
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Details Tab",
    "templates": ["product"],
    "settings": [],
    "presets": [
      {
        "name": "Product Details Tab"
      }
    ]
  }
{% endschema %}

