<style>
  .pd-section{}

  .pd-wrapper{}
</style>

<div class="pd-section">
  <div class="page-width">
    <div class="pd-wrapper">
      <div class="tab-lis">
        
      </div>
      <div class="tab-details"></div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Details Tab",
    "templates": ["product"],
    "settings": [],
    "presets": [
      {
        "name": "Product Details Tab"
      }
    ]
  }
{% endschema %}

