[href="#"] {
  pointer-events: none;
  cursor: pointer;
}

:root {
  --nav-x-height: 100%;
}
.display-none{
  display: none !important;
}
.maze-header {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

.menu-container {
  width: 100%;
  height: var(--nav-x-height);
  max-height: var(--nav-x-height);
  position: relative;
}

.menu-wrapper {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 0;
}

.menu-content {
  display: grid;
  background: #000000;
  justify-content: start;
}

.menu-content-mobile{
  display: none;
}

@media(max-width: 480px){
  .menu-content{
    display:  none;
  }

  .menu-content-mobile{
    display: block;
  }
}

.mh2-ct-logo img{
  margin-left: 40px;
}

.logo-left-x {
  grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
}

@media(max-width: 1024px) {
  .logo-left-x {
    grid-template-columns: minmax(130px, 1fr) auto minmax(130px, 1fr);
  }
}

.logo-left-x>.menu-list-x {
  grid-column: 2/3;
  grid-row: 1/2;
}

.logo-left-x>.nav-logo-x {
  grid-column: 1/2;
  grid-row: 1/2;
}

.logo-left-x>.nav-icons-x {
  grid-column: 3/-1;
  grid-row: 1/2;
}

.logo-center-x {
  grid-template-columns: 1fr auto 1fr;
}

.logo-center-x>.menu-list-x {
  grid-column: 1/2;
  grid-row: 1/2;
}

.logo-center-x>.nav-logo-x {
  grid-column: 2/3;
  grid-row: 1/2;
}

.logo-center-x>.nav-icons-x {
  grid-column: 3/-1;
  grid-row: 1/2;
}

.menu-list-x {
    align-self: center;
    height: max-content;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0 0 50px;
}

.maze-header ul.parent-items-x {
    display: flex;
    list-style-type: none;
    gap: 55px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: revert;
    margin-left: -4rem;
    padding: inherit;
}

.parent-item-x>a,
.child-item-x>a,
.grand-child-item-x>a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
/*   font-family: Arial, Helvetica, sans-serif; */
  font-weight: 500;
}

.parent-item-x>.child-wrapper {
  position: absolute;
  top: var(--nav-x-height);
  left: 0;
  width: 100%;
  height: max-content;
  background: #fff;
  visibility: hidden;
  box-sizing: border-box;
  max-width: 100vw;
  overflow: hidden;
  padding: 10px 0 30px 0;
  z-index: 9;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  gap: 30px;
}

.child-items-x {
  transform: translateY(20px);
  transition: transform .3s ease-in-out;
}

.active-child-wrapper-x {
  visibility: visible !important;
}

.active-child-wrapper-x>ul {
  transform: translateY(0px);
}

.right-content {
  justify-self: end;
}

.left-content {
  justify-self: start;
}

.maze-header .child-wrapper>ul {
    column-gap: 145px;
    row-gap: 12px;
    list-style-type: none;
    justify-content: center;
    max-height: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50px;
    margin-bottom: 0;
}
li.child-item-x {
  flex: 1 1 20px;
}
.grand-child-items-x {
  list-style-type: none;
}

.grand-child-items-x>li {
  margin-left: -4rem;
}

.grand-child-items-x>li>a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.nav-icons-x {
  align-self: center;
  justify-self: end;
}

.nav-icons-x>ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.image-list-x {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  justify-content: center;
  margin-left: -4rem;
}

.image-list-x>li>a {
  text-decoration: none;
}

.image-list-x>li>a>img {
  width: 200px;
  max-width: 200px;
  height: 160px;
  object-fit: cover;
}

.image-list-x>li>a>p {
  margin: 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: black;
}

.header-x-more>a {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.mhm-parent-wrapper,
.mhm-child-wrapper {
  position: absolute;
  width: max-content;
  background: beige;
  z-index: 9;
  padding: 10px 0;
  list-style-type: none;
  top: 100%;
  visibility: hidden;
  transition: visibility .2s ease-in;
  z-index: 9px;
}

.mhm-parent-wrapper li {
  position: relative;
  padding: 5px 30px 10px 15px;
  min-width: 200px;
}

.mhm-child-wrapper {
  left: 101%;
  top: 0;
}

.header-x-more:hover>.mhm-parent-wrapper,
.mhm-parent-wrapper li:hover>.mhm-child-wrapper {
  visibility: visible;
}

.mhm-child-wrapper>li {
  padding: 5px 30px 10px 15px;
  min-width: 200px;
}

.ms-open-btn {
  cursor: pointer;
  border: solid thin lime;
}

.mh-parent-link {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 6px;
  position: relative;
}

.mh-parent-link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: #000;
  transition: all .3s ease-in-out;
}

.mh-parent-link:hover::after {
  width: 100%;
  left: 0%;
}

.mh-parent-link>a,
.mh-child-link>a {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
/*   font-family: Arial, Helvetica, sans-serif; */
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.mh-parent-link>span {
  transform-origin: center;
  transform: translateY(1px) rotate(90deg);
}


.mh-parent-link>span,
.mh-child-link>span {
  font-size: 32px;
  line-height: 20px;
  transition: .3s;
}

.mh-child-link {
  display: grid;
  grid-template-columns: 1fr auto;
}


/*----------- Header 2 style ------*/
.menu-left-2 {
  justify-items: start;
}

.menu-center-2 {
  justify-items: center;
}

.menu-right-2 {
  justify-items: end;
}

.menu-content-top {
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-sizing: border-box;
  padding: 25px 10px;
}

.mh2-ct-search,
.mh2-ct-logo,
.mh2-ct-icon {
  align-self: center;
}

.mh2-ct-search {
  display: flex;
  gap: 14px;
  align-items: center;
}

.mh2-ct-icon {
  justify-self: end;
}

.mh2-ct-icon>ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.mh2-open-search-drawer {
  outline: none;
  border: 1px solid;
  box-shadow: inherit;
  box-sizing: border-box;
}

.mh2-dp-search {
  position: relative;
  flex-basis: 80%;
}
.mh2-icons {
  flex-basis: 20%;
}
.mh2-user-icons{
  display: flex;
  align-items: center;
}
.mh2-user-icons svg{
  margin-left: 15px;
}
.mh2-dp-search>input {
  width: 100%;
/*   font-family: Crimson Text, serif; */
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  color: #000;
  padding: 12px;
  border-color: #000;
}

.mh2-c-menu {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.mh2-c-menu-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-end;
}

.mh2-c-menu-li {
  font-size: 15px;
}
.mh2-dp-search{
  position: relative;
}
.mh2-search-icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 9px;
}

@media(max-width: 480px) {
  .mh2-dp-search>input {
    display: none;
  }

  .mh2-search-icon {
    display: block;
  }

  .mc-mobile-wrapper {
    box-sizing: border-box;
    width: 89%;
    margin: auto;
  }

  .mc-mobile-wrapper a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }

  .mc-mobile-wrapper details {
    border-bottom: 1px solid #D9D9D9;
    box-sizing: border-box;
    padding: 6px 0px;
  }

  .mc-child-link ul{
    list-style-type: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .mc-child-link ul li a{
    line-height: 29px;
  }

}